 {{!-- I think this page maybe contains too much word, change it if you want --}}
<div>
    <br>
    <h3>Introduction</h3>
    <p>Welcome to our webstite. Anyone who wants to use the gym can create and manage their own accounts. On this website, users can quickly get information about the gym, including the gym's infrastructure, courses introduction, fitness coach information, gym’s business hours, address and contact information. In addition, users can not only register courses which interest to them but also apply for a personal fitness coach for themselves.</p>
</div>

<div>
    <h3>Why should we go to the gym</h3>
    <ol>
        <li>It's plain healthy</li>
        <p>Going to the gym is healthy. If you’re just starting and feel like you aren’t making progress, give yourself a pat on the back for at least making the effort. Going to the gym is just the first step. The gym is a magical place, but it’s not mystical. You can’t just sign up, walk in the gym and have the gym gods grant you a healthy body. It’s going to take work and dedication.</p>
        <li>Feel better about yourself</li>
        <p>A lot of people overlook this aspect of lifting and fitness. If you look good, you are going to feel better about yourself. It’s like a chain reaction, you start lifting, you start to look better, you start to feel better, and when you start feeling better about the way you look your going to gain confidence. A lot of confidence. More importantly though, this confidence you’re going to gain has direct real world benefits. It can help you in your relationships, your job, your friends and just your entire social life in general.</p>
        <li>Great way to relieve stress</li>
        <p>Does your 9 to 5 have you feeling down? How about that nagging girlfriend or wife? Hitting the gym is one of the best stress relievers you can find. The gym is your getaway, it's your place to forget everything that’s going on in your life and focus on yourself.</p>
        <li>It’s something to do</li>
        <p>Here’s a thought: why not go to the gym? Ever have some free time and really wonder to yourself what you could be doing at that very moment? Why not just go to the gym? Now there’s a thought. The gym can be a great “getaway”. It’s a place you can go to better yourself. In short, it will give you something to do; something to look forward to.</p>
        <li>Live longer</li>
        <P>Well let you in on a little secret, to live a long healthy life you need to first be healthy. It may seem obvious, but so many people just stand by idle why their life slips between their finger tips. They often think “Oh, I’ll start eating right next week.” or “I’ll go to the gym tomorrow”. There are so many people who have that “tomorrow is another day” attitude. That’s not good enough. If you want to live longer, exercise on a daily basis and eat right. The time to get started is now and any other excuse you might have is not good enough.</P>
        <li>Have a nice body</li>
        <P>Being healthy is always great. It’s good for your body and it’s just good for your overall health and longevity. However, a lot of times being healthy will earn you a nice body too. Who doesn’t want a super hot bod? I sure as hell do. It’s no secret that humans are instinctively more attracted to healthy looking individuals. It’s embedded in our DNA as humans. </P>
        <li>It’s a good hobby</li>
        <P>If you find something you like to do, stick with it. Make it your hobby. The gym is great for that because there is so much to learn and you can set goals and watch yourself achieve them. It’s one of those things that you can easily get addicted to.</P>
        <li>Improve athletic ability</li>
        <p>While it’s true a lot of our athletic abilities are genetic, it’s also true that a lot of physical strength and power is attained in the gym. Physical strength and power go hand and hand with overall athleticism and that’s a fact. If you’re looking to gain some athletic dominance there is no better place to attain that than in the gym. Whether you are looking to try out for the soccer team or the football team or just want to improve your athleticism in general, lifting weights is one of your best bets.</p>
    </ol>
</div>