<form id="sendConForm" action="http://localhost:3000/sendconfirm" method="post">
    <label for="emailAdd">Please input your email Address:</label><br><br>
    <input type="text" name="emailadd" id="emailAdd">
    <button id="emailAddSub" name="emailaddsub">Submit</button>
</form>