<p id="Err" class="error">{{error}}</p>
<form id="findPassword" action="" method="post">
    <label for="userName">Username<span style="color:red">*</span>: </label><br>
    <input type="text" name="username" id="userName"><br><br>
    <label for="emailAdd">Email<span style="color:red">*</span>: </label><br>
    <input type="text" name="emailadd" id="emailAdd">
    <br><br><br><button name="submit" id="buttonSub">Submit</button>
</form>