

<p id="loginErr" class="error">{{{error}}}</p>

<form id="login-form" action={{{url}}} method="post">
    <br><label for="userName">Please input your login information:</label><br><br>
    username:<input type="text" name="username" id="userName">
    <br><br><label for="passWord"></label>
    password:<input type="password" name="password" id="passWord">
    <br><br><br><button name="submit" id="buttonSub">Login</button>
    <br><br><br><a href="findpassword">Forgot Password</a>
    
</form>
<br><br>
<a href="createacc">Create A New Account</a>
