<p id="setErr" class="error">{{setErr}}</p>
<form id="setPasswordForm" action="http://localhost:3000/setpassword" method="post">
    <label for="password">New Password<span style="color:red">*</span>: </label><br>
    <input type="password" name="password" id="password"><br><br>
    <label for="conPassword">Confirm Password<span style="color:red">*</span>: </label><br>
    <input type="password" name="conpassword" id="conPassword">
    <br><br><br><button id="passwordSub">Submit</button>
</form>