<p id="Err" class="error">{{commErr}}</p>
<form id="CourseComment" action="http://localhost:3000/course/CourseComment" method="post">
  <div {{display}}>
    <article>
        <div>
            <label for="commentCourse">{{course}}</label><br>
            <textarea name="coursecomm" id="commentCourse"></textarea><br><br>
            <input type="submit" value="Submit"><br><br><br>
        </div>
    </article>

  </div>
</form>