<p id="Err" class="error">{{commErr}}</p>
<form id="CoachComment" action="http://localhost:3000/coach/CoachComment" method="post">
  <div {{display}}>
    <article>
        <div>
            <label for="commentCoach">{{coach}}</label><br>
            <textarea name="coachcomm" id="commentCoach"></textarea><br><br>
            <input type="submit" value="Submit"><br><br><br>
        </div>
    </article>

  </div>
</form>