  <div id="Tab">
    <ul>     
        <p>Course:</p><br>
        <ul>          
            <a id="displayCourseTab" href="http://localhost:3000/admin/displaycourse">Display Course</a>           
            <a id="addCourseTab" href="http://localhost:3000/admin/addcourse">Add Course</a>          
            <a id="updateCourseTab" href="http://localhost:3000/admin/updatecourse">Update Course</a>           
            <a id="deleteCourseTab" href="http://localhost:3000/admin/deletecourse">Delete Course</a>           
        </ul>
      
        <br><p>Coach:</p><br>
        <ul>        
            <a id="displayCoachTab" href="http://localhost:3000/admin/displaycoach">Display Coach</a>        
            <a id="addCoachTab" href="http://localhost:3000/admin/addcoach">Add Coach</a>          
            <a id="updateCoachTab" href="http://localhost:3000/admin/updatacoach">Update Coach</a>
            <a id="deleteCoachTab" href="http://localhost:3000/admin/deletecoach">Delete Coach</a> 
        </ul>
     
        <br><p>Diet:</p>  <br>   <!--Added DIET --->
        <ul>
            <a id="displayDietTab" href="http://localhost:3000/admin/displaydiet">Display Diet</a>
            <a id="addDietTab" href="http://localhost:3000/admin/adddiet">Add Diet</a>
            <a id="deleteDietTab" href="http://localhost:3000/admin/deletediet">Delete Diet</a>
        </ul>
    </ul>
  </div>
  

<br><br><br>
<a id = "logout1" href="http://localhost:3000/logout">Logout</a>
