<p id="changePErr" class="error">{{changePErr}}</p>
<form id="changePassword" action="http://localhost:3000/users/changepassword" method="post">
    <label for="oldPassword">Old Password<span style="color:red">*</span>: </label><br>
    <input type="password" name="oldpassword" id="oldPassword"><br><br>
    <label for="newPassword">New Password<span style="color:red">*</span>: </label><br>
    <input type="password" name="newpassword" id="newPassword"><br><br>
    <label for="commPassword">Confirm Password<span style="color:red">*</span>: </label><br>
    <input type="password" name="commpassword" id="commPassword"><br><br><br>
    <button type="submit" id="changePSub">Submit</button>
</form>