<br><h2>Diets List:</h2><br>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Serving(grams)</th>
        <th>Calories</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      {{#each dietTableObjs}}
        <tr>
          <td>{{this.mealName}}</td>
          <td>{{this.serving}}</td>
          <td>{{this.calories}}</td>
          <td>{{this.mealType}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>